.landing-main-container{
    height: 60vh;
}



.landing-wrapper{
    background-image: url(bg-placeholder.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
}

.landing-txt-container{
    color: white;
    font-size: 42px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.txt-section-container{
  height: 25vh;
  margin: 2rem;
}
.txt-section-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.txt-section-wrapper h2{
  font-size: 36px;
}
.txt-section-wrapper p{
  font-size: 22px;
}




.gallery-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
}


.gallery-item{
    max-width: 500px;
    max-height: 500px;
}

.gallery-item img{
    width: 100%;
}

.gallery-item-container {
    position: relative;
    width: 100%;
  }
  
  .gallery-image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .gallery-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
  }
  
  .gallery-item-container:hover .gallery-overlay {
    opacity: 1;
  }
  
  .gallery-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .gallery-item h6{
    font-size: 32px;
    margin: 1rem;
    margin-left: 0;
    text-align: center;
  }

  i.fa-solid.fa-circle-play {
    font-size: 75px;
    color: white;
}